html, body {
  font-size: 15px;
}
h1, h2, h3 {
  font-family: Georgia;
  font-weight: normal;
}

/* Style */

.mkt .btn {
  border-radius: 2em;
  line-height: 2.5em;
  padding: 0 1.5em;
  font-weight: bold;
}


/* Layout */

.breadcrumb a {
  color: rgba(255, 255, 255, 0.5);
}
#navbar {
  font-family: Georgia;
  position: relative;
}
#navbar .navbar-inner {
  background: white;
}
#navbar .nav {
  float: none;
  margin: 0 -30px;
}
#navbar .nav > li {
  width: 13%;
  text-align: center;
  padding: 35px 0;
}
#navbar .nav > li.center {
  width: 22%;
}
#navbar .nav > li > a {
  padding: 0;
  line-height: 40px;
  height: 40px;
  color: #555;
  font-size: 1.1em;
  border-radius: 20px;
}
#navbar .nav > li > a:hover {
  color: #0088cc;
}
#navbar .brand {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  text-align: center;
}
#navbar .brand span {
  display: none;
}
#navbar .brand img {
  float: none;
  margin: 0;
  height: auto;
}
#header {
  background: #1d4f85;
  color: rgba(255, 255, 255, 0.7);
}
#header h1 {
  color: white;
  margin-left: -5px;
}
#header-content {
  padding: 3em 0 2em 0;
}
#highlighted {
  background: #F6F4E7;
  border-color: #ddd;
}
#highlighted > .container > .inner {
  font-family: Georgia;
  color: #777;
}
#footer {
  background: #F5F1E5;
  color: #777;
}
